extends layout

block append head
	link(rel='stylesheet', href='/stylesheets/heroes_detail.css')
	title= title + 'VGwhole - Vainglory Stats'
block append header-primary
	div(class='header-content-avatar')
		div(class='image-container image-container-avatar image-container-hero')
			img(class='image-avatar', src=overview[0].img)
	div(class='header-content-title')
		h1 #{overview[0].name.replace(/\*/g, '')}
		small Items
block content
	div(class='header-content-nav-container')
		div(class='header-content-nav')
			nav(class='header-nav-links')
				ul
					li(class='')
						a(href='/heroes/' + overview[0].name.replace(/\*/g, '')) Overview
					li(class='')
						a(href='/heroes/' + overview[0].name.replace(/\*/g, '') + '/abilities') Abilities
					li(class='active')
						a(href='#') Items
					li(class='')
						a(href='/heroes/' + overview[0].name.replace(/\*/g, '') + '/players') Players
	div(class='content-inner')
		div(class='row')
			div(class='col-sm-12')
				div(class='most-used-items section-container')
					section(class='most-used')
						header Most Used Items
							small All Time
						article
							table(class='items-overview table-content')
								thead
									tr
										th(colspan="2") Item
										th Times Used
										th Wins
										th Win Rate
								tbody
									each item in items
										tr
											td(class='cell-icon-item')
												a(href='/items/' + item.id)
													img(class='item-icon image-item', src=item.image)
											td
												a(href='/items/' + item.id) #{item.name}
											td #{item.timesUsed}
											td #{item.wins}
											td #{item.winrate.toFixed(2)}%
