extends layout

block append head
	link(rel='stylesheet', href='/stylesheets/heroes_detail_players.css')
block content
	div(class='header-content-container')
		div(class='header-content')
			div(class='header-content-primary')
				div(class='header-content-avatar')
					div(class='image-container image-container-avatar image-container-hero')
						a(href='#')
							img(class='image-avatar', src=overview[0].image)
				div(class='header-content-title')
					h1 #{overview[0].name.replace(/\*/g, '')}
					small Players
			div(class='header-content-secondary')
				dl
					dd #{overview[0].winrate}%
					dt Win Rate
				dl
					dd #{overview[0].popularity}
					dt Popularity
				div(class='hero-secondary-ability-icons r-none-mobile')
					each ability in overview[0].abilities
						img(src=ability)
		div(class='header-content-nav-container')
			div(class='header-content-nav')
				nav(class='header-nav-links')
					ul
						li(class='')
							a(href='') Overview
						li(class='')
							a(href='#') Abilities
						li(class='')
							a(href='#') Items
						li(class='active')
							a(href='#') Players
	div(class='content-inner')
		div(class='row-12')
			div(class='col-8')
				div(class='section-container')
					section(class='players')
						article
							table(class='players-list table-content')
								thead
									tr
										th Player
										th Tier
										th Win Rate
										th Matches Played
										th KDA
								tbody
									each player in players
										tr
											td #{player.name}
											td #{player.tier}
											td #{player.winrate}%
											td #{player.played}
											td #{player.kda}
