extends layout

block append head
	link(rel='stylesheet', href='/stylesheets/heroes_detail.css')
	title= title + 'VGwhole - Vainglory Stats'
block append header-primary
	div(class='header-content-avatar')
		div(class='image-container image-container-avatar image-container-hero')
			img(class='image-avatar', src=overview[0].img)
	div(class='header-content-title')
		h1 #{overview[0].name.replace(/\*/g, '')}
		small Overview
block content
	div(class='header-content-nav-container')
		div(class='header-content-nav')
			nav(class='header-nav-links')
				ul
					li(class='active')
						a(href='#') Overview
					li(class='')
						a(href='/heroes/' + overview[0].name.replace(/\*/g, '') + '/abilities') Abilities
					li(class='')
						a(href='/heroes/' + overview[0].name.replace(/\*/g, '') + '/items') Items
					li(class='')
						a(href='/heroes/' + overview[0].name.replace(/\*/g, '') + '/players') Players
	div(class='content-inner')
		div(class='row')
			div(class='col-sm-6')
				div(class='chart section-container')
					section(class='stat-spread')
						article
							canvas(id='statSpread')
			div(class='col-sm-6')
				div(class='chart section-container')
					section(class='role-distribution')
						article
							canvas(id='roleDistribution')
		div(class='row')
			div(class='col-sm-4')
				div(class='chart section-container')
					section(class='winrate-weekly')
						header Win Rate
							small This Week
						article
							canvas(id="winrateChart", width="400", height="200")
					section(class='pickrate-weekly')
						header Pick Rate
							small This Week
						article
							canvas(id='pickrateChart', width='400', height='200')
			div(class='col-sm-8')
				div(class='most-used-items section-container')
					section(class='most-used')
						header Most Used Items
							small All Time
						article
							table(class='items-overview table-content')
								thead
									tr
										th(colspan="2") Item
										th Times Used
										th Wins
										th Win Rate
								tbody
									each item in items
										tr
											td(class='cell-icon-item')
												a(href= '/items/' + item.id)
													img(class='item-icon image-item', src=item.image)
											td
												a(href= '/items/' + item.id) #{item.name}
											td #{item.timesUsed}
											td #{item.wins}
											td #{item.winrate.toFixed(2)}%
				div(class='hero-matchups section-container')
					section(class='heroes')
						header Best Versus
						article
							table(class='heroes-overview table-content')
								thead
									tr
										th(colspan="2") Hero
										th Matches
										th Win Rate
								tbody
									each hero in matchups
										tr
											td(class='cell-icon')
												a(href='/heroes/' + hero.name.replace(/\*/g, ''))
													img(class='hero-icon', src=hero.image)
											td
												a(href='/heroes/' + hero.name.replace(/\*/g, '')) #{hero.name.replace(/\*/g, '')}
											td #{hero.played}
											td #{hero.winrate.toFixed(2)}%
				div(class='hero-matchups section-container')
					section(class='heroes')
						header Worst Versus
						article
							table(class='heroes-overview table-content')
								thead
									tr
										th(colspan="2") Hero
										th Matches
										th Win Rate
								tbody
									each hero in worstVersus
										tr
											td(class='cell-icon')
												a(href='/heroes/' + hero.name.replace(/\*/g, ''))
													img(class='hero-icon', src=hero.image)
											td
												a(href='/heroes/' + hero.name.replace(/\*/g, '')) #{hero.name.replace(/\*/g, '')}
											td #{hero.played}
											td #{hero.winrate.toFixed(2)}%
	script(src='/scripts/Chart.js')
	script.	
		var statsCategory = ["Minion Kills", "Assists", "Deaths", "Kills", "Tower Kills"];
		var statsData = [];
		var category = [];
		var winrate = [];
		var pickrate = [];
		var roles = [];
		!{weekly}.forEach(function(element) {
			var day = element._id.day.toString();
			var month = element._id.month.toString();
			var divider = "/";
			var date = month.concat(divider,day);
			category.push(date);
			winrate.push(element.winrate);
			pickrate.push(element.pickrate);
		});
		!{statSpread}.forEach(function(element) {
			statsData.push((element.avgMinionKills)/10, element.avgAssists, element.avgDeaths, element.avgKills, (element.avgTowerKills)*2);
		});
	
		!{roleDistribution}.forEach(function(element) {
			roles.push(element.carryTotal, element.junglerTotal, element.captainTotal);
		});

		console.log(roles);
		var ctx = document.getElementById("winrateChart");
		var winrateChart = new Chart (ctx, {
			type: 'line',
			data: {
				labels: category,
				datasets: [{
					data: winrate,
					borderColor: '#F9B02F',
					backgroundColor: 'rgba(249,176,47,0.4)'
				}],
			},
			options: {
				legend: {
					display: false
				},
			}
		});

		var xtx = document.getElementById("pickrateChart");
		var pickrateChart = new Chart (xtx, {
			type: 'line',
			data: {
				labels: category,
				datasets: [{
					data: pickrate,
					borderColor: '#c4c4c4',
					backgroundColor: 'rgba(196,196,196,0.4)'
				}],
			},
			options: {
				legend: {
					display: false
				},
				scales: {
					yAxes: [{
						ticks: {
							min: 0,
							max: 30
						}
					}]
				}
			}
		});
		
		var ztx = document.getElementById("statSpread")
		var spreadChart = new Chart(ztx, {
			type: 'radar',
			data: {
				labels: statsCategory,
				datasets: [{
					data: statsData,
					borderColor: '#E0962D',
					backgroundColor: 'rgba(224,150,45,0.4)'
				}]
			},
			options: {
				legend: {
					display: false,
				},
				scale: {
					ticks: {
						display: false
					},
					pointLabels: {
						fontSize: 14,
						fontColor: '#c4c4c4'
					}
				}
			}
		});

		var vtx = document.getElementById("roleDistribution")
		var roleDistribution = new Chart (vtx, {
			type: 'doughnut',
			data: {
				labels: ["Carry", "Jungler", "Captain"],
				datasets: [{
					data: roles,
					backgroundColor: ['rgb(255,99,132)', 'rgb(54,162,235)', 'rgb(255,205,86)']
				}],
			},
			options: {
				legend: {
					position: 'right'
				}
			}
		
		});
