extends layout

block append head
	link(rel='stylesheet', href='/stylesheets/matches.css')
	title= title
block append header-primary
	div(class='header-content-title')
		h1 Recent Matches
		small Last 24 Hours
block content
	div(class='inner-content')
		section
			table
				thead
					tr
						th Match ID
						th Game Mode
						th Result
						th(class='cell-large') Duration
						th(class='r-none-mobile team-blue') Team Blue
						th(class='r-none-mobile team-red') Team Red
				tbody
					each match in match_list
						tr
							td(class='matchid')
								a(href=match.url, style="font-size: 10px") #{match.id}
								div(class='subtext')
									span #{match.attributes.createdAt.substring(0,10)}
							td #{match.attributes.gameMode}
							each roster in match.rosters
								if roster.sides == 'left/blue' && roster.win == 'true'
									td(class='team-blue') Blue Victory
								else if roster.sides == 'right/red' && roster.win == 'true'
									td(class='team-red') Red Victory
							td #{match.duration}
							each roster in match.rosters
								if roster.sides == 'left/blue'
									td(class='r-none-mobile blue')
										each p in roster.participant
											each hero in p.hero
												div(class='image-container-icon')
													img(src=hero.img)
								else
									td(class='r-none-mobile red')
										each p in roster.participant
											each hero in p.hero
												div(class='image-container-icon')
													img(src=hero.img)

