extends layout

block append head
	link(rel='stylesheet', href='stylesheets/players.css')
	title= title + ' - VGwhole - Vainglory Stats'
block append header-primary
	div(class='header-content-title')
		h1 Players
block content
	div(class='inner-content')
		section
			article
				table(class='sortable')
					thead
						tr
							th(class='sortable nosort', data-sortcolumn='0', data-sortkey='0-0', colspan='2') Player
							th(class='cell-large r-none-mobile nosort', data-sortcolumn='4', data-sortkey='4-0') Skill Tier
							th(class='cell-large nosort', data-sortcolumn='2', data-sortkey='2-0') Matches Played
							th(class='cell-large r-none-mobile nosort', data-sortcolumn='3', data-sortkey='3-0') Win Rate
					tbody
						each player in player_list
							tr
								td(class='medal')
									div(class='medal-icon medal-icon-container')
										- var tier = player.tier.toString()
										if tier == '0'
											img(class='medal-icon', src='/images/medals/1.png')
										else
											img(class='medal-icon', src='/images/medals/' + tier + '.png')
								td(class='cell-large')
									a(class='link-type-player', href=player.url) #{player.attributes.name}
								td(class='r-none-mobile') #{player.tier}
								td #{player.played}
								td(class='r-none-mobile') #{player.winrate}%
									div(class='progress')
										- var winrate = player.winrate.toString() + '%'
										div(class='progress-bar', style='width:' + winrate)
