extends layout

block append head
	link(rel='stylesheet', href='/stylesheets/players_detail.css')
	title= heroPlayer[0].playerInfo.name + ' - Heroes - VGwhole - Vainglory Stats'
block append header-primary
	div(class='header-content-medal')
		div(class='image-container image-container-medal')
			- var tier = heroPlayer[0].playerInfo.tier.toString()
			if tier == '0'
				img(class='medal-icon', src='/images/medals/1.png')
			else
				img(class='medal-icon', src='/images/medals/' + tier + '.png')
	div(class='header-content-title')
		h1 #{heroPlayer[0].playerInfo.name}
		small Heroes
block content
	div(class='header-content-nav-container')
		div(class='header-content-nav')
			nav(class='header-nav-links')
				ul
					li(class='')
						a(href='/players/' + playerId) Overview
					li(class='')
						a(href='/players/' + playerId + '/matches') Matches
					li(class='active')
						a(href='') Heroes
	div(class='content-inner')
		section
			article
				table(class='table-content')
					thead
						tr
							th(colspan='2') Hero
							th Matches
							th Win Rate
							th KDA Ratio
							th GPM
							th Role
					tbody
						each hero in heroPlayer
							tr
								td(class='hero-icon')
									div(class='image-container image-container-hero image-container-hero-icon')
										a(href='/heroes/' + hero.heroInfo.heroName.replace(/\*/g, '').toLowerCase())
											img(class='image-hero image-icon' src=hero.heroInfo.heroImage)
								td 
									a(href='/heroes/' + hero.heroInfo.heroName.replace(/\*/g, '')) #{hero.heroInfo.heroName.replace(/\*/g, '')}
								td #{hero.gamesPlayed}
								td #{hero.winRate.toFixed(2)}%
								td #{hero.avgKDA.toFixed(2)}
								td #{hero.avgGPM.toFixed(0)}
								td #{Object.keys(hero.roleTotal).reduce(function(a,b){ return hero.roleTotal[a] > hero.roleTotal[b] ? a : b })}
