h1
	each item in test
		p #{item._id.name}
		img(src=item._id.image)
		p played #{item.played}
		p won #{item.won}
		p win rate #{item.rate}
		p kills #{item.kills}
		p assists #{item.assists}
		p deaths #{item.deaths}
		p kda #{item.test}	
